h3{
    color: blue;
    background-color:rgb(174, 214, 254);
}
#color_blue{
    color: blue;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  div form{
margin: 00px 200px;
  }